<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-8"></div>
  </div>
  <div class="row">
    <div class="col-sm-8 text-center">

      <P>
        <span>


          orem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus mollis orci. Fusce et condimentum enim. Sed dictum viverra orci, dignissim porta diam varius in. Proin est elit, porttitor eget laoreet sed, pretium auctor dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc ac aliquet mauris. Etiam eu tortor et neque fringilla semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ex tortor, semper in eleifend vitae, cursus ut nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris pharetra bibendum lacus eu finibus. Ut viverra urna id justo mattis, vel fermentum nisi tempor. Sed lorem eros, varius vitae fermentum sollicitudin, dapibus eget neque. Mauris eget purus at ligula interdum laoreet ut nec augue. Interdum et malesuada fames ac ante ipsum primis in faucibus.

Duis sit amet turpis eget velit tempus volutpat. Cras molestie eget eros sed rhoncus. Mauris sed nisl ac felis sodales ultrices eu facilisis quam. Nam nulla libero, pellentesque eu tincidunt eget, sagittis quis mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam erat volutpat. Nullam iaculis rutrum nisi, nec vestibulum nisl malesuada vel. Nam non neque ipsum. Vivamus elementum sem maximus molestie imperdiet. Vestibulum id sollicitudin arcu. Proin vitae venenatis massa, in faucibus dolor. Praesent ac volutpat arcu.

Suspendisse vitae finibus turpis. Mauris at urna magna. Proin non accumsan ipsum, quis egestas est. Suspendisse ultricies quam erat, sit amet maximus libero pellentesque vitae. Vestibulum molestie diam libero, a dapibus elit porta eu. Ut a mattis lectus. Maecenas sit amet massa tincidunt, convallis diam eu, posuere elit.

Maecenas quis turpis quis velit finibus molestie vitae sit amet arcu. Quisque non tortor a erat ornare commodo eu eu mauris. Quisque rutrum scelerisque erat, eget finibus velit ullamcorper ut. Nam cursus finibus enim ac fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi lacinia dui sit amet elit pretium tincidunt. Donec non consectetur turpis. Sed feugiat rutrum fringilla. Maecenas non metus quis ex ornare volutpat. Aenean semper dolor magna. Mauris ornare elit ut elementum egestas. In mollis nibh et turpis tempor mattis vel et purus. Sed hendrerit venenatis neque non laoreet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed rhoncus purus neque, eu mollis justo porttitor eget. Quisque eu posuere nisi.

Vivamus ac nisi sit amet ligula vulputate interdum. Etiam ultricies vestibulum est. Nullam quis placerat neque. Cras vel ipsum non quam sagittis luctus. Cras libero eros, vehicula non sollicitudin sed, tincidunt et purus. Sed tempor est eget leo lacinia, non facilisis quam tristique. Vestibulum nec semper magna, eu fermentum diam. Proin vulputate urna a lacus placerat tincidunt aliquet a ex. Donec pulvinar nisi sed tincidunt dictum. Sed porta felis at risus volutpat, a commodo ligula ultrices. Vivamus a ex est. Sed placerat neque eget mi sollicitudin suscipit. In auctor tempor hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sagittis vel augue eu blandit. Phasellus et semper velit.

        </span>


      </P>



    </div>
  </div>
</div>