

<h1 style="text-align: center">How we work</h1>


<div class="container">
    <div class="row">
        <div class="col-md-4 col-xs-6">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span><br/>
            <h5>Pick Any Task</h5>
            <p>Choose from the list of popular Services</p>
        </div>
        <div class="col-md-4 col-xs-6">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span><br/>
            <h5>We Get It Done</h5>
            <p>We'll connect you with a skilled Tasker
                within Minutes of your request</p>
        </div>
        <div class="col-md-4  col-xs-6">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span><br/>
            <h5>Get it Done</h5>
            <p>Your Tasker  Completes the job and bills directly in the app</p>
        </div>

    </div>
</div>

















<hr/>

<h1 style="text-align: center">Featured Services</h1>


<div class="container">
    <div class="row">
        <div class="col-md-4 col-xs-6">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>




        </div>
        <div class="col-md-4 col-xs-6">
            <div class="thumbnail img-responsive">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div></div>
        <div class="col-md-4  col-xs-6">
            <div class="thumbnail img-responsive">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-6"><p>Box 4</p></div>
        <div class="col-md-4   col-xs-6"><p>Box 5</p></div>
        <div class="col-md-4  col-xs-6"><p>Box 6</p></div>
        <div class="col-md-4 col-xs-6"><p>Box 7</p></div>
        <div class="col-md-4 col-xs-6"><p>Box 8</p></div>
        <div class="col-md-4  col-xs-6"><p>Box 9</p></div>
        <div class="col-md-4  col-xs-6"><p>Box 10</p></div>
        <div class="col-md-4 col-xs-6"><p>Box 11</p></div>
        <div class="col-md-4 col-xs-6"><p>Box 12</p></div>
    </div>
</div>